.fondo {
    background-color: rgb(172, 6, 6);
}

.blanco {
    color: white;
}

.letra-roja {
    color: rgb(172, 6, 6);
}

.blackground {
    background-color: black;
}

.fondo-rojo-claro {
    background-color: rgb(199, 73, 73);
}